# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Python temporary files
__pycache__/
*.pyc

# Environment and Binaries
LexSimpleBackend/venv/
*.exe

# Database and Data
LexSimpleBackend/chroma_db/
LexSimpleBackend/lex_metadata.db

# Node modules (para sa Mobile)
node_modules/